/*-------------------------------SCROLLBAR-------------------------------*/
::-webkit-scrollbar {
    display: none;
}

/*-------------------------------GENERAL-------------------------------*/
:root {
    --fill-color: #EB9C34;
    --primary-color: #333645;
    --secondary-color: #282632;
    --text-color: #FFF;
    --alt-text-color: #BFBFBF;
}

html,
body {
    margin: 0;
    padding: 0;
}

.lni {
    color: var(--text-color);
    font-size: 2.5rem;

    transition: all ease-in-out 0.35s;
}

.lni:hover {
    font-size: 3rem;
    transform: translateY(0.25rem);
}

html {
    font-family: 'Nunito', sans-serif;
    color: var(--text-color);
    background-color: var(--primary-color);
}

p {
    color: var(--alt-text-color);
    font-size: 2rem;
    margin-top: 0;
}

a {
    color: var(--fill-color);
    font-weight: bold;
    font-size: 1.5rem;
}

ul {
    padding: 0;
    list-style: none;
}

h1 {
    margin: 5vh 0 2vh 0;
    font-size: 9rem;
}

h2 {
    margin-top: .75vh;
    font-weight: normal;
    font-size: 2.5rem;
}

.category-heading {
    font-family: 'Cascadia Code';
    color: var(--alt-text-color);
    margin-bottom: 0;
    font-style: italic;
}

.text-container {
    margin: auto;
    height: fit-content;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

/*-------------------------------MARKERS-------------------------------*/
.marker-line {
    border: .4vh solid var(--fill-color);
    width: 11vh;

    border-radius: 1vh;
}

/*-------------------------------HERO SECTION-------------------------------*/
#hero {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;

}

#hero-left {
    flex-grow: 1;
    flex-direction: column;

    margin-left: 12.5vh;
    margin-top: 5vh;
}

#hero .marker-line {
    margin-bottom: 17.5vh;
}

#hero ul li {
    display: inline;
}

.social-links li {
    margin-right: 2vh;

    text-align: center;
    justify-content: center;

    height: fit-content;

    width: 2vh;
    height: 2vh;
}

.social-links img {
    transition: all ease-in-out 0.35s;
}

.social-links img:hover {
    transform: scale(1.25);
}

#navbar-container {
    font-size: 2.5rem;
    font-weight: 500;

    top: 0;
    margin: auto;
}

#navbar-container ul {
    margin: 0 0 .75vh 0;
    white-space: nowrap;
}

#navbar-container li {
    margin-right: 3vh;

    cursor: pointer;
}

#navbar-container ul li:last-child {
    margin: 0;
}

.marker-circle {
    border-radius: 100px;
    background-color: var(--fill-color);

    width: 1.5rem;
    height: 1.5rem;
    left: auto;

    position: relative;

    transition: left ease-in-out 0.5s;

    margin: 0;
}

#hero-right {
    padding: 10vh;
    padding-right: 10%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#hero-text {
    flex-grow: 1;
}

@keyframes scrollingDownArrow {
    0% {
        bottom: 2vh;
    }

    50% {
        bottom: .5vh;
    }

    100% {
        bottom: 2vh;
    }
}
@keyframes scrollingHover {
    100% {
        bottom: 2.5vh;
    }
}

#scroll-down {
    position: absolute;
    left: 0;
    right: 0;

    margin-left: auto;
    margin-right: auto;
    bottom: .5vh;

    cursor: pointer;

    animation: scrollingDownArrow 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards; 
}

#scroll-down:hover {
    animation: scrollingHover ease-in-out .25s;
    animation-fill-mode: forwards;  
}

/*-------------------------------PROJECTS SECTION-------------------------------*/
#projects {
    margin-top: 5vh;
    height: 70vh;
    background-color: var(--secondary-color);

    padding: 15vh 12.5vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}   

#projects .text-container {
    display: inline-flex;   
    margin: 0;
}

#projects .text-container:last-child {
    margin-left: auto;
}

.projects-done span {
    
}

.projects-done p {
    color: var(--fill-color);
    font-size: 4rem;
    display: inline;
}