/*-------------------------------SCROLLBAR-------------------------------*/
::-webkit-scrollbar {
    display: none;
}

/*-------------------------------GENERAL-------------------------------*/
:root {
    --fill-color: #EB9C34;
    --dark-fill-color: #b37729;
    --primary-color: #333645;
    --secondary-color: #282632;

    --text-color: #FFF;
    --alt-text-color: #BFBFBF;

    --project-work-back: #3E4254;
}

html,
body {
    margin: 0;
    padding: 0;
}

.lni {
    color: var(--text-color);
    font-size: 2.5rem;

    transition: all ease-in-out 0.35s;
}

.lni:hover {
    font-size: 3rem;
    transform: translateY(0.25rem);
}

html {
    font-family: 'Nunito', sans-serif;
    color: var(--text-color);
    background-color: var(--primary-color);
}

p {
    color: var(--alt-text-color);
    font-size: 2rem;
    margin-top: 0;
}

span {
    font-size: 1.25rem;
}

a {
    color: var(--fill-color);
    font-weight: bold;
    font-size: 1.5rem;

    width: fit-content;
}

ul {
    padding: 0;
    list-style: none;
}

h1 {
    margin: 5vh 0 2vh 0;
    font-size: 9rem;
}

h2 {
    margin-top: .75vh;
    font-weight: normal;
    font-size: 2.5rem;
}

.category-heading {
    font-family: 'Cascadia Code';
    color: var(--alt-text-color);
    margin-bottom: 0;
    font-style: italic;
}

.text-container {
    margin: auto;
    height: fit-content;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

/*-------------------------------MARKERS-------------------------------*/
.marker-line {
    border: .4vh solid var(--fill-color);
    width: 11vh;

    border-radius: 1vh;
}

/*-------------------------------HERO SECTION-------------------------------*/
#hero {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;

}

#hero-left {
    flex-grow: 1;
    flex-direction: column;

    margin-left: 12.5vh;
    margin-top: 5vh;
}

#hero .marker-line {
    margin-bottom: 15vh;
}

#hero ul li {
    display: inline;
}

.social-links li {
    margin-right: 2vh;

    text-align: center;
    justify-content: center;

    height: fit-content;

    width: 2vh;
    height: 2vh;
}

.social-links img {
    transition: all ease-in-out 0.35s;
}

.social-links img:hover {
    transform: scale(1.25);
}

#navbar-container {
    font-size: 2.5rem;
    font-weight: 500;

    top: 0;
    margin: auto;
}

#navbar-container ul {
    margin: 0 0 .75vh 0;
    white-space: nowrap;
}

#navbar-container li {
    margin-right: 3vh;

    cursor: pointer;
}

#navbar-container ul li:last-child {
    margin: 0;
}

.marker-circle {
    border-radius: 100px;
    background-color: var(--fill-color);

    width: 1.5rem;
    height: 1.5rem;
    left: auto;

    position: relative;

    transition: left ease-in-out 0.5s;

    margin: 0;
}

#hero-right {
    padding: 10vh;
    padding-right: 10%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#hero-text {
    flex-grow: 1;
}

@keyframes scrollingDownArrow {
    0% {
        bottom: 2vh;
    }

    50% {
        bottom: .5vh;
    }

    100% {
        bottom: 2vh;
    }
}

@keyframes scrollingHover {
    100% {
        bottom: 2.5vh;
    }
}

#scroll-down {
    position: absolute;
    left: 0;
    right: 0;

    margin-left: auto;
    margin-right: auto;
    bottom: .5vh;

    cursor: pointer;

    animation: scrollingDownArrow 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
}

#scroll-down:hover {
    animation: scrollingHover ease-in-out .25s;
    animation-fill-mode: forwards;
}

/*-------------------------------PROJECTS SECTION-------------------------------*/
#projects {
    min-height: 85vh;
    background-color: var(--secondary-color);

    padding: 15vh 12.5vh 0 12.5vh;
    position: relative;
}

#projects-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#projects .text-container {
    display: inline-flex;
    margin: 0;
}

#projects-text > div:nth-child(2) > h2.category-heading {
    display: none;
}

#projects .text-container:last-child {
    margin-left: auto;
}

#projects-done-container {
    text-align: center;
}

.projects-done {
    display: inline-block;
    width: fit-content;

    margin-right: 25%;
}

.projects-done div {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.projects-done p {
    color: var(--fill-color);
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 0;
    margin-right: 1vh;
}

#project-work-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 50%;

    display: grid;
    grid-template-columns: repeat(3, 30vh);
    grid-template-rows: 35vh;
    grid-column-gap: 30px;
    grid-row-gap: 0px;

    margin-top: auto;
}

.project-work {
    -webkit-box-shadow: 4px 11px 20px -1px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 4px 11px 20px -1px rgba(0, 0, 0, 0.7);
    box-shadow: 4px 11px 20px -1px rgba(0, 0, 0, 0.7);
    text-align: center;

    padding: 2.5vh;

    cursor: pointer;

    background-color: var(--project-work-back);
    transition: background-color ease-in-out 0.75s, transform cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.75s;

    border-radius: .5vh;
}

.project-work:hover {
    background-color: var(--dark-fill-color);
    transform: scale(1.1);
}

.active-item {
    background-color: var(--dark-fill-color);
    transform: scale(1.05);
}

.project-work h2 {
    font-size: 2.25rem;
    margin-top: 1.5vh;
}

.project-work img {
    width: 25%;
    margin: 1.5vh;
}

.project-work-text span {
    vertical-align: middle;
}

.project-work-text div {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.project-work-text p {
    color: white;
    font-weight: bold;

    margin-bottom: 0;
    margin-right: 1vh;
}

/*-------------------------------PORTFOLIO SECTION-------------------------------*/
#portfolio {
    min-height: 100vh;
    max-height: max-content;

    display: flex;
    flex-direction: column;
}

#company-logos {
    margin-top: 25vh;
    margin-bottom: 15vh;
    text-align: center;

    scale: 0.75;
}

#company-logos div {
    margin-top: 3vh;
}

#company-logos div img {
    margin-right: 15vh;
}

#company-logos div img:last-child {
    margin-right: 0;
}

@keyframes sectionShow {
    0% {
        transform: translateY(25%);
        opacity: -1;
    }

    75% {
        opacity: 0.75;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.portfolio-section {
    display: none;
    margin-bottom: 15vh;

    flex-direction: column;
}

.portfolio-item {
    display: flex;
    margin-bottom: 15vh;

    justify-content: center;
}

.portfolio-item img {
    position: relative;
    margin-left: -10vh;
    width: 60%;
}

.portfolio-item .text-container {
    margin-top: 20vh;
    position: relative;
    width: fit-content;

    flex-grow: 1;
    justify-self: center;
    align-self: center;
}

#portfolio .portfolio-item:last-child {
    margin-bottom: 0;
}

.item-right .text-container {
    padding-left: 17.5vh;
}

.item-left .text-container {
    padding-left: 17.5vh;
}

.item-right img {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 45% 100%);
}

.item-left img {
    clip-path: polygon(0 0, 100% 0, 55% 100%, 0% 100%);
}

.active-portfolio {
    display: block;

    animation: sectionShow 1s;
}

/*-------------------------------CONTACTS SECTION-------------------------------*/
#contact {
    display: flex;
    flex-direction: column;
    padding: 10vh 15% 5vh 15%;

    background-color: var(--secondary-color);
    min-height: 80vh;
}

#contact-container {
    display: flex;
    margin-bottom: 10vh;
}

#contact .text-container {
    display: inline;
    float: left;

    margin-top: 0;
    margin-left: 0;
}

#contact-form span {
    font-size: 2rem;
}

input {
    background-color: transparent;
    border: none;

    font-family: 'Nunito', sans-serif;
    color: var(--alt-text-color);
    caret-color: var(--alt-text-color);
    border-bottom: .2vh solid var(--alt-text-color);

    font-size: 1.25rem;

    margin-top: 1vh;
    margin-bottom: 2vh;

    width: 100%;
}

input:focus {
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 99999999999999999999s ease-in-out 0s, color 999999999999999999s ease-in-out;
}

input[type='submit'] {
    border: none;
    border-radius: .25vh;
    padding: 1vh;

    margin-top: 2.5vh;
    
    background-color: var(--project-work-back);

    transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) .5s;

    display: block;
    width: 105%;
    text-align: center;
}

input[type='submit']:hover {
    cursor: pointer;
    background-color: var(--dark-fill-color);
}

.disabled {
    cursor: default;
    background-color: var(--project-work-back);
} 

textarea {
    margin-top: 2vh;
    padding: 2.5%;

    background-color: transparent;

    font-family: 'Nunito', sans-serif;

    color: var(--alt-text-color);
    caret-color: var(--alt-text-color);
    border: .2vh solid var(--alt-text-color);

    resize: none;
    font-size: 1.25rem;

    width: 100%;
    height: 20vh;
}

textarea:focus {
    outline: none;
}

textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
    transition: background-color 99999999999999999999s ease-in-out 0s, color 999999999999999999s ease-in-out;
}

#thanks-container {
    text-align: center;
}

#thanks-container p {
    font-size: 1.5rem;
    margin-top: 2vh;
}

#thanks-container ul li {
    display: inline;
}

/*-------------------------------CONTACTS SECTION-------------------------------*/
/*HERO*/
@media only screen and (max-width: 1412px) {
    #scroll-down {
        display: none;
    }

    #hero-right {
        margin: auto;
    }

    #navbar-container {
        width: max-content;
        translate: -15% 0;
    }

    #navbar-container ul li {
        margin-right: 15%;
    }

    #hero-text {
        margin-top: 5vh;
        scale: 0.85;
    }
}

/*HERO*/
@media only screen and (max-width: 1216px) {
    #projects-text  > div:nth-child(1) {
        display: none;

        margin: auto;
        margin-bottom: 15vh;
    }

    #projects-text .text-container {
        margin: auto;
    }
}
